extends ./layout.jade

block content
  img(src="#{logourl}",height="100px",id="logo")
  div(class="panel panel-default")
      div(class="panel-heading") Rules
      div(class="panel-body")
        p The game is played with 4 digits.
        p On a sheet of paper, the players each write a 4-digit secret number. 
        p The digits must be all different and the secret number should not start with 0. 
        p Then, in turn, the players try to guess their opponent's number who gives the number of matches. 
        p If the matching digits are in their right positions, they are "bulls", if in different positions, they are "cows". 
        p Example:
        ul
          li 
            strong Secret number: 
            |4271
          li 
            strong Opponent's try: 
            |1234
          li 
            strong Answer: 
            |1 bull and 2 cows. (The bull is "2", the cows are "4" and "1".)

        p The first one to reveal the other's secret number wins the game.